
     body{
     padding-top:1px;
     background-color: black;
     }


     .containerH{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 200px;
      flex-wrap: wrap;
      background-color: black;
    }

     .container{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100px;
      flex-wrap: wrap;
      background-color: black;
    }

     #msg1, #msg2{

      background-color: black;
      color: green;
      width: 460px;
      flex: 1;
    }

    #myCheck{
      width:20px;
    }

    .outergauge {
      width: 300px;
      float: center;
      height: 200px;
      margin: 0 auto;
      background-color: black;
          }

    .outerbullets {
      width: 300px;
      float: center;
      height: 100px;
      margin: 0 auto;
      background-color: yellow;
    }


